{% extends "index_app/base.html" %}

{% block title %}Хостинг docker-образов{% endblock %}

{% block content %}
    <div class="section section-hero section-shaped"style="padding-top: 11.9%; padding-bottom: 11.9%; height: 93vh">
        <div class="shape shape-style-1 shape-primary">
            <span class="span-150"></span>
            <span class="span-50"></span>
            <span class="span-50"></span>
            <span class="span-75"></span>
            <span class="span-100"></span>
            <span class="span-75"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
            <span class="span-50"></span>
            <span class="span-100"></span>
        </div>
        <div class="section features-1":height: 93vh>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center">
                        <h3 class="display-3"><font color="white">Хостинг Docker образов</font></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mx-auto text-center">
                        <p class="lead"><font color="white">Ниже будут приведены возможные конфигурации по оперативке/памяти</font></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <h6 class="info-title text-uppercase"><font color="white">Хостинг 1</font></h6>
                            <p class="description opacity-8"><font color="white">Описание описание описание описание
                                описание описание</font></p>
                            <p class="description opacity-8"><font color="white">Описание описание описание описание
                                описание описание
                                <br>Описание описание описание описание описание описание</font>
                            </p>
                            <a href="" class="text-primary"><font color="white">Ссылка</font>
                                <i class="ni ni-bold-right text-primary"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <h6 class="info-title text-uppercase"><font color="white">Хостинг 2</font></h6>
                            <p class="description opacity-8"><font color="white">Описание описание описание описание
                                описание описание
                                Описание описание описание описание описание описание</font></p>
                            <a href="" class="text-primary"><font color="white">Ссылка</font>
                                <i class="ni ni-bold-right text-primary"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <h6 class="info-title text-uppercase"><font color="white">Soon...</font></h6>
                            <p class="description opacity-8"><font color="white">Soon...</font></p>
                            <a href="javascript:;" class="text-primary"><font color="white">Ссылка</font>
                                <i class="ni ni-bold-right text-primary"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
{% endblock %}