{% extends "index_app/base.html" %}

{% block title %}Хостинг docker-образов{% endblock %}

{% block content %}
    <body class="login-page">
    {% if errors or validation_errors %}
        <div id="errorModal" class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Error
                            warning!</h5>
                    </div>
                    <div class="modal-body">
                        {% if validation_errors %}
                            {% for key, values in validation_errors.items %}
                                <div class="alert alert-danger" role="alert">
                                    <p>{{ key }}:{{ values }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if errors %}
                            {% for value in errors %}
                                <div class="alert alert-danger" role="alert">
                                    <p>Error: {{ value }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <section class="section section-shaped section-lg" ;
             style="padding-top: 11.9%; padding-bottom: 11.9%; height: 93vh">
        <div class="shape shape-style-1 bg-gradient-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container pt-lg-7">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card bg-secondary shadow border-0">
                        <!--<div class="card-header bg-white pb-5">
                            <div class="text-muted text-center mb-3">
                                <small>Sign in with</small>
                            </div>
                            <div class="btn-wrapper text-center">
                                <a href="#" class="btn btn-neutral btn-icon">
                                    <span class="btn-inner--icon">
                                        <img src="../assets/img/icons/common/github.svg"/>
                                    </span>
                                    <span class="btn-inner--text">Github</span>
                                </a>
                                <a href="#" class="btn btn-neutral btn-icon">
                                    <span class="btn-inner--icon">
                                        <img src="../assets/img/icons/common/google.svg"/>
                                    </span>
                                    <span class="btn-inner--text">Google</span>
                                </a>
                            </div>
                        </div>-->
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>Or sign in with credentials</small>
                            </div>
                            <form action="/login/" method="post">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="ni ni-key-25"></i>
                                            </span>
                                        </div>
                                        <input class="form-control" placeholder="Username" name="username" type="text"/>
                                    </div>
                                </div>
                                <div class="form-group focused">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ni ni-lock-circle-open"></i>
                                        </span>
                                        </div>
                                        <input class="form-control" placeholder="Password" name="password"
                                               type="password"/>
                                    </div>
                                </div>
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox"/>
                                    <label class="custom-control-label" for=" customCheckLogin">
                                        <span>Remember me</span>
                                    </label>
                                </div>
                                <div class="text-center">

                                    <button type="submit" class="btn btn-primary my-4">
                                        Sign in
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="#" class="text-light"><small>Forgot password?</small></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="{% url 'register_user' %}" class="text-light"><small>Create new account</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function closeModal() {
            var modal = document.getElementById('errorModal');
            modal.style.display = 'none';  //
        }
    </script>
    </body>
{% endblock %}