{% extends "index_app/base.html" %}
{% block title %}Регистрация пользователя{% endblock %}
{% block content %}
    <body class="register-page">

    {% if errors or validation_errors %}
        <div id="errorModal" class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Error
                            warning!</h5>
                    </div>
                    <div class="modal-body">
                        {% if validation_errors %}
                            {% for key, values in validation_errors.items %}
                                <div class="alert alert-danger" role="alert">
                                    <p>{{ key }}:{{ values }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if errors %}
                            {% for value in errors %}
                                <div class="alert alert-danger" role="alert">
                                    <p>Error: {{ value }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal()">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="wrapper">
        <section class="section section-shaped section-lg"
                 style="padding-top: 11.9%; padding-bottom: 11.9%; height: 93vh">
            <div class="shape shape-style-1 bg-gradient-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container pt-lg-7">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card bg-secondary shadow border-0">
                            <div class="card-body px-lg-5 py-lg-5">
                                <div class="text-center text-muted mb-4">
                                    <small>User Registration</small>
                                </div>
                                <form action="/registration/" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="ni ni-hat-3"></i>
                                                </span>
                                            </div>
                                            <input class="form-control" placeholder="Name" name="username" type="text"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="ni ni-email-83"></i>
                                                </span>
                                            </div>
                                            <input class="form-control" placeholder="Email" name="email" type="email"/>
                                        </div>
                                    </div>
                                    <div class="form-group focused">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="ni ni-lock-circle-open"></i>
                                                </span>
                                            </div>
                                            <input class="form-control" placeholder="Password" name="password"
                                                   type="password"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="ni ni-lock-circle-open"></i>
                                                </span>
                                            </div>
                                            <input class="form-control" placeholder="Repeat password"
                                                   name="repeated_password" type="password">
                                        </div>
                                        <div class="text-pass-is-ok">

                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mt-4">
                                            Create account
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        function closeModal() {
            var modal = document.getElementById('errorModal');
            modal.style.display = 'none';  //
        }
    </script>
    </body>
{% endblock %}

