{% extends "base.html" %}

{% block title %}Хостинг docker-образов{% endblock %}

{% block content %}
    <div class="section pb-0 section-components">
        <div class="container mb-5">

            <div class="section features-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 mx-auto text-center">
                            <h3 class="display-3">Хостинг Docker образов</h3>
                        </div>
                    </div>
                    <div class="row">
                           <div class="col-md-12 mx-auto text-center">
                               <p class="lead">Ниже будут приведены возможные конфигурации по оперативке/памяти</p>
                           </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info">
                                <h6 class="info-title text-uppercase">Хостинг 1</h6>
                                <p class="description opacity-8">Описание описание описание описание описание описание</p>
                                <p class="description opacity-8">Описание описание описание описание описание описание
                                    <br>Описание описание описание описание описание описание
                                </p>
                                <a href="" class="text-primary">Ссылка
                                    <i class="ni ni-bold-right text-primary"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <h6 class="info-title text-uppercase">Хостинг 2</h6>
                                <p class="description opacity-8">Описание описание описание описание описание описание
Описание описание описание описание описание описание</p>
                                <a href="" class="text-primary">Ссылка
                                        <i class="ni ni-bold-right text-primary"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <h6 class="info-title text-uppercase">Soon...</h6>
                                <p class="description opacity-8">Soon...</p>
                                <a href="javascript:;" class="text-primary">Ссылка
                                    <i class="ni ni-bold-right text-primary"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}